In [2]:
import pandas as pd
import numpy as np

In [12]:
housing= pd.read_csv("housing.csv")

In [50]:
housing.head()

      price  area  bedrooms  bathrooms  stories  mainroad
0  13300000  7420         4          2        3         1
1  12250000  8960         4          4        4         1
2  12250000  9960         3          2        2         1
3  12215000  7500         4          2        2         1
4  11410000  7420         4          1        2         1

In [8]:
housing.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [ ]:
#We will be  using 4 numerical variables and 1 catgeorical variable mainroad.

In [14]:
housing= housing.iloc[:,:6]
housing.mainroad.unique()
#One hot encoding to turn mainroad into 0 and 1's.

In [48]:
from sklearn.preprocessing import LabelEncoder

encoder= LabelEncoder()

housing['mainroad']= encoder.fit_transform(housing.mainroad)

In [51]:
housing.to_csv("final_housing.csv")

In [55]:
housing.iloc[:,1]

0      7420
1      8960
2      9960
3      7500
4      7420
       ...
540    3000
541    2400
542    3620
543    2910
544    3850
Name: area, Length: 545, dtype: int64